/**
 * Stylish dark theme.
 * By yukpiz, https://yukpiz.github.io
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #221f17;

$mainColor: #f9e3aa;
$headingColor: #fff;

$mainFontSize: 52px;
$mainFont: 'Ricty', Helvetica, sans-serif;
$headingFont: 'Ricty', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.title1 {
  font-size: 130pt;
}

.title2 {
  font-size: 100pt;
}

.title3 {
  font-size: 80pt;
}

li {
  font-size: 1.5em;
}

table {
  font-size: 1.5em;
  border: 3px #F9E3AA solid;
  tbody {
    tr {
      line-height: 1.5em;
      td {
        padding-left: 20px;
        padding-right: 20px;
        border: 3px #F9E3AA solid;
      }
    }
  }
}

code:not([class]) {
  background-color: #58503c;
  line-height: 1.8em;
  color: #f3c759;
  padding: 7px 10px 7px 10px;
  margin: 0 7px 0 7px;
  border: 3px #73694E solid;
  border-radius: 5px;
}

pre {
  &.sourceCode {
    padding: 20px 30px 20px 40px;
  }

  code {
    font-size: 1.5em;
    line-height: 1.1em;
  }
}

